<div class="form-home" >
  <!-- <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefono</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comuna</mat-label>
    <mat-select>
      <mat-select-trigger></mat-select-trigger>
      <mat-option></mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
